{% load static %}

<section class="header2 top_header2 ">
    <div class="overlay">
        <div class="container_header2 center " id="container_header_tpo">
            <i class="icone_logo fas fa-book"></i>
            <h2 id="top_header2_h2">Conheça nossa <b Livro">LivrariaDev++</b></h2>
            <h3 id="top_header2_h3">Temos os mais diversos livros de Programação, Banco de Dados, Marketing Digital e Empreendedorismo.</h3>
        </div><!--container_header2-->
    </div>
</section><!--header2-->