{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- ---- cabeçalho-1 ---- -->
            {% include 'cabecalho.html' %}
        <!-- ---- cabeçalho-1 ---- -->

        <!-- ---- cadastro ---- -->
            {% include 'cadastro.html' %}
        <!-- ---- cadastro ---- -->

        <!-- cabeçalho-2 -->
            {% include 'cabecalho2.html' %}
        <!-- cabeçalho-2 -->

        <!-- produtos -->
            {% include 'produtos.html' %}
        <!-- produtos -->

        <!-- novidades -->
            {% include 'novidades.html' %}
        <!-- novidades -->

        <!-- texto -->
            {% include 'texto.html' %}
        <!-- texto -->


{% endblock %}


    





