{% load static %}

<section class="novidades">
        <div class="container_novidades center">
            <div class="noticias w50">
                <h2>Ultimas Noticias</h2>

                <div class="box_single_noticia">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolor consectetur nobis voluptas eveniet aliquid laboriosam velit, enim, ipsam corrupti eius totam non mollitia optio, aliquam molestias esse ex molestiae!</p>
                </div><!--box_single_noticia-->

                <div class="box_single_noticia">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolor consectetur nobis voluptas eveniet aliquid laboriosam velit, enim, ipsam corrupti eius totam non mollitia optio, aliquam molestias esse ex molestiae!</p>
                </div><!--box_single_noticia-->

                <div class="box_single_noticia">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolor consectetur nobis voluptas eveniet aliquid laboriosam velit, enim, ipsam corrupti eius totam non mollitia optio, aliquam molestias esse ex molestiae!</p>
                </div><!--box_single_noticia-->

            </div><!--w50-->

            <div class="depoimentos w50">
                <h2>Ultimos Depoimentos</h2>
                <ul>
                    <li>aliquam molestias esse ex molestiae!</li>
                    <li>aliquam molestias esse ex molestiae!</li>
                    <li>aliquam molestias esse ex molestiae!</li>
                    <li>aliquam molestias esse ex molestiae!</li>
                </ul>
                <div class="box_single_noticia">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolor consectetur nobis voluptas eveniet aliquid laboriosam velit, enim, ipsam corrupti eius totam non mollitia optio, aliquam molestias esse ex molestiae!</p>
                </div><!--box_single_noticia-->
            </div><!--depoimentos-->

            <div class="clear"></div>
        </div><!--container_novidades-->
    </section><!--novidades-->